<!DOCTYPE html>
<html>
<head>
  <title>BasketThisTime</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/navbar' %>

<% if current_user.nil? %>

<% else %>
	<%= current_user.name %>
<% end %>
<<<<<<< HEAD

<!-- <div class="well"> -->
<h1 class="cart-text"><%= render 'layouts/cart_text' %></h1>
<!-- </div> -->

=======
<div>
	<h1 class="cart-text"><%= render 'layouts/cart_text' %></h1>
</div>
>>>>>>> 20a437e6b9206876623260f79910b78c32354eb2

<%= yield %>


</body>
</html>
