<!DOCTYPE html>
<html>
<head>
  <title>BasketThisTime</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user.nil? %>

<% else %>
	<%= current_user.name %>
<% end %>
<div>
	<h1 class="cart-text"><%= render 'layouts/cart_text' %></h1>
</div>

<%= yield %>

</body>
</html>
