<p id="notice"><%= notice %></p>
<div class="row">
	<div class="col-md-4">
		<p>
		  <strong>Email:</strong>
		  <%= @user.email %>
		</p>

		<p>
		  <strong>Name:</strong>
		  <%= @user.name %>
		</p>
	</div>  <!-- end of col -->
</div>  <!-- end of row -->

<div class="table-responsive">
<table class="table table-hover">
	<theader>
		<th>#ID</th>
		<th>Status</th>
		<th>More</th>
		<th>Subtotal</th>
	</theader>
	<% @orders.reverse.each do |order| %>
	<tbody>
		<td style="text-align: left"><%= order.id %></td>
		<td style="text-align: left"><%= order.order_status(:order_status_id).name %></td>
		<td style="text-align: left"><%= link_to "Order Details", order_path(order) %></td>
		<td style="text-align: left"><%= number_to_currency order.subtotal %></td>
	</tbody>
	<% end %>
</table>
</div>

<% if user_signed_in? %>
<%= link_to 'Edit', edit_user_path(current_user) %> |
<%= link_to 'Back', products_path %>
<% else %>
<%= link_to 'Back', products_path %>
<% end %>