<p id="notice"><%= notice %></p>
<div class="well">
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3">
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<h4>Previous Orders</h4>
<<<<<<< HEAD
			<div>
				<% @orders.reverse.each do |order| %>
				<ul>
					<li>
						<%= link_to "Order Details", order_path(order) %>
						<%= order.id %>
						<strong><%= order.quantity %></strong>
						<%= order.total_price %>
					</li>
				</ul>
				<% end %>
			</div>
		</div>
	</div>	
=======
<div>
	<% @orders.reverse.each do |order| %>
	<ul>
		<li>
			<%= link_to "Order Details", order_path(order) %>
			<%= order.id %>
			<strong><%= order.quantity %></strong>
			<%= order.total_price %>
			<ul>
				<% order.order_items.each do |order_item|%>
					<li><%= order_item.product(:product_id).name %></li>
				<% end %>
			</ul>
		</li>
	</ul>
	<% end %>
>>>>>>> 20a437e6b9206876623260f79910b78c32354eb2
</div>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
