<!DOCTYPE html>
<html>
<head>
<link rel="shortcut icon" src="assets/images/pictures/chicken1.png">
  <title>TheGoodEgg</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/navbar_home' %>
<div class="devise">
            <%= flash[:error] %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
</div>
<div class="container">
	
	
    <div class="row" id="header">
      <div class="col-xs-6 col-xs-offset-3" id="title">
      <%= image_tag "pictures/chicken1.png", class: "chicken" %>
    <h1><%= link_to "The Good Egg Co", root_path %></h1>
      </div>
    </div>

    <hr>
    <%= yield %>
  </div>

</body>
</html>
