<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @order.user %>
</p>

<p>
  <strong>Total price:</strong>
  <%= @order.total_price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order.quantity %>
</p>

<div>
	<% @products.each do |product| %>
		<ul>
			<li><strong><%= product.name %></strong> | <%= product.description %>
			</li>
		</ul>
	<% end %>
</div>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
