<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @order.user.name %>
</p>

<p>
  <strong>Total price:</strong>
  <%= @order.total_price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order.quantity %>
</p>

<div>
<% if @order.order_status_id != 1 %>
	<% @orderitems.each do |oi| %>
		<ul>
			<li><strong><%= oi.product.name %></strong> <%= oi.product.description %>
			</li>
		</ul>
	<% end %>
<% end %>
</div>



